footer {
  background-color: #251327;
  font-size: 15px;
  color: #ffffff;
  overflow: hidden;
}
footer a {
  color: #ffffff;
}
.footer-inner {
  padding: 48px 0;
}
.footer-inner > .logo {
  width: 64px;
  margin-bottom: 24px;
}
.footer-con-wrap1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.footer-con-wrap1 > .txt-wrap > div:first-child {
  margin-bottom: 12px;
}
.footer-con-wrap1 > .txt-wrap .mail {
  display: inline-block;
  position: relative;
}
.footer-con-wrap1 > .txt-wrap .mail::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.footer-con-wrap1 > .txt-wrap .span-line {
  border-right: 2px solid #ffffff;
  padding-right: 16px;
  margin-right: 16px;
}
.footer-con-wrap1 > .txt-wrap .mail:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}
.footer-con-wrap1 > .icon-wrap {
  display: flex;
  gap: 0 16px;
}
.footer-con-wrap1 > .icon-wrap > li > a {
  position: relative;
}
.footer-con-wrap1 > .icon-wrap > li > a > img {
  width: 24px;
  flex: none;
}
.footer-con-wrap1 > .icon-wrap > li > a > .sns-txt {
  opacity: 0;
  visibility: hidden;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 100%;
  padding: 0px 5px;
  margin-bottom: 0px;
  min-width: 48px;
  background-color: rgb(112, 112, 112);
  font-size: 11px;
  color: rgb(248, 248, 248);
  border-radius: 3px;
  line-height: 22px;
  text-align: center;
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
.footer-con-wrap1 > .icon-wrap > li > a > .sns-txt::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  border-width: 6px 5px 5px;
  border-style: solid;
  border-color: rgb(112, 112, 112) transparent transparent;
  border-image: initial;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.footer-con-wrap1 > .icon-wrap > li > a:hover .sns-txt {
  opacity: 1;
  visibility: visible;
  margin-bottom: 10px;
}
.footer-con-wrap2 {
  display: flex;
  justify-content: space-between;
}
.footer-con-wrap2 > .txt-wrap {
  display: flex;
  gap: 0 36px;
}
