header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 48px;
}
.header-inner > .logo-wrap > img {
  width: 58px;
  flex: none;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 0 56px;
}
.header-right > .language-wrap {
  position: relative;
  width: 168px;
  border: 1px solid #dedede;
  border-radius: 4px;
}
.header-right > .language-wrap > .language-select {
  position: relative;
  padding: 5px 48px;
  background: url(../images/header/language.svg) no-repeat 12px center;
  cursor: pointer;
}
.header-right > .language-wrap > .language-select::after {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/header/arrow-down.svg) no-repeat center;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
.header-right > .language-wrap.on > .language-select::after {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/header/arrow-up.svg) no-repeat center;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
.header-right > .language-wrap > ul {
  display: none;
  position: absolute;
  top: 32px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 4px;
}
.header-right > .language-wrap.on > ul {
  display: block;
}
.header-right > .language-wrap > ul > li > a {
  display: block;
  padding: 5px 48px;
}
.header-right > .login {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #251327;
  padding: 6px 33px;
  border-radius: 4px;
}
.header-right > .my-wrap {
  display: flex;
  align-items: center;
  gap: 0 16px;
  /* display: none; */
}
.header-right > .my-wrap > .my > a {
  font-size: 14px;
  color: #ffffff;
  padding: 8px;
  background-color: #251327;
  border-radius: 50%;
}
.header-right > .my-wrap > .line {
  width: 1px;
  height: 16px;
  background-color: #dedede;
}
.header-right > .my-wrap > .cart {
  align-self: flex-end;
}
.header-right > .my-wrap > .cart > a {
  position: relative;
}
.header-right > .my-wrap > .cart > a > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 2px;
  box-sizing: border-box;
  background-color: #a31f34;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -5px;
}
.header-right > .my-wrap > .cart > a > div > p {
  font-size: 10px;
  color: #ffffff;
  text-align: center;
}
