.all-wrap {
  background-color: #f2f2f2;
}
.banner-wrap > ul > li {
  background-color: #312127;
}
.banner-wrap > ul > li > img {
  max-width: 751px;
  margin: 0 auto;
}
.category-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 288px 1fr;
  gap: 0 28px;
  padding: 56px 0 120px;
}
.category-wrap > .nav-category-wrap > .nav-category {
  position: sticky;
  top: 114px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 8px;
}
.category-wrap > .nav-category-wrap > .nav-category > .all-select-wrap {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid #dedede;
}
.category-wrap > .nav-category-wrap > .nav-category > ul {
  padding: 0 24px;
}
.category-wrap
  > .nav-category-wrap
  > .nav-category
  > ul
  > li:last-child
  > .cate-a {
  border-bottom: none;
}
.category-wrap > .nav-category-wrap > .nav-category > ul > li > .cate-a {
  position: relative;
  color: #888888;
  border-bottom: 1px solid #dedede;
  padding-bottom: 11px;
  margin-top: 11px;
}
.category-wrap > .nav-category-wrap > .nav-category > ul > li > .cate-a::after {
  content: "";
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  background: url(../images/category/nav/arrow-down.svg) no-repeat center /
    contain;
}
.category-wrap > .nav-category-wrap > .nav-category > ul > li > .cate-a.on {
  color: #251327;
  font-weight: 500;
}
.category-wrap
  > .nav-category-wrap
  > .nav-category
  > ul
  > li
  > .cate-a.on::after {
  background: url(../images/category/nav/arrow-up.svg) no-repeat center /
    contain;
}
.category-wrap > .nav-category-wrap > .nav-category > ul > li .sub-menu-wrap {
  display: none;
  padding: 24px 0;
  border-bottom: 1px solid #dedede;
}
.category-wrap
  > .nav-category-wrap
  > .nav-category
  > ul
  > li
  > .sub-menu-wrap
  > .sub-menu-inner:first-child {
  margin-bottom: 24px;
}
.category-wrap
  > .nav-category-wrap
  > .nav-category
  > ul
  > li
  > .sub-menu-wrap
  > .sub-menu-inner:last-child {
  margin-bottom: 0;
}
.category-wrap
  > .nav-category-wrap
  > .nav-category
  > ul
  > li
  > .sub-menu-wrap
  > .sub-menu-inner
  > .sub-menu-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
}
.category-wrap
  > .nav-category-wrap
  > .nav-category
  > ul
  > li
  > .sub-menu-wrap
  > .sub-menu-inner
  > ul
  > li {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.category-wrap
  > .nav-category-wrap
  > .nav-category
  > ul
  > li
  > .sub-menu-wrap
  > .sub-menu-inner
  > ul
  > li:last-child {
  margin-bottom: 0;
}
.con-wrap {
  height: 1000px;
}
.con-wrap > .search-wrap {
  margin-bottom: 32px;
}
.con-wrap > .search-wrap > .search-input {
  width: 600px;
  background: #ffffff url(../images/search.svg) no-repeat 16px center;
  padding: 12px 16px;
  border: 1px solid #dedede;
  border-radius: 8px;
  outline: none;
}
.con-wrap > .search-wrap > .search-input:focus {
  border: 1px solid #dedede;
  background: #ffffff;
}
.con-wrap > .list-wrap {
  margin-bottom: 56px;
}
.con-wrap > .list-wrap > .result-text {
  font-size: 14px;
  counter-reset: #3f4247;
  margin-bottom: 12px;
}
.con-wrap > .list-wrap > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* category-li */
.con-wrap > .list-wrap > ul > li > a {
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 8px;
}
.con-wrap > .list-wrap > ul > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.con-wrap > .list-wrap > ul > li > a > .title-text {
  font-size: 14px;
  font-weight: 500;
  color: #a31f34;
  padding: 14px 16px;
  border-bottom: 1px solid #dedede;
}
.con-wrap > .list-wrap > ul > li > a > .detail-text {
  color: #251327;
  padding: 16px 16px 24px 16px;
}
.con-wrap > .list-wrap > ul > li > a > .detail-text > img {
  margin-bottom: 16px;
}
.con-wrap > .list-wrap > ul > li > a > .detail-text > .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}
.con-wrap > .list-wrap > ul > li > a > .detail-text > .sub {
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* product-li */
.con-wrap > .list-wrap > ul > li > .product-a {
  padding: 16px 16px 24px 16px;
}
.con-wrap > .list-wrap > ul > li > .product-a > img {
  margin-bottom: 16px;
}
.con-wrap > .list-wrap > ul > li > .product-a > .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}
.con-wrap > .list-wrap > ul > li > .product-a > .sub {
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 20px;
}
.con-wrap > .list-wrap > ul > li > .product-a > div > .price {
  font-size: 22px;
  font-weight: 700;
  margin-right: 8px;
}
.con-wrap > .list-wrap > ul > li > .product-a > div > .etc {
  font-size: 12px;
}
.con-wrap > .pagination-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 37px;
}
.con-wrap > .pagination-wrap > a {
  color: #707070;
}
.con-wrap > .pagination-wrap > a.on {
  color: #a31f34;
  font-weight: 700;
}
